<div id="left">
	<h1>Query Database</h1>

	<%= render 'criteria' %>

	<%= link_to 'Back', db_calls_path %>
</div>

<div id="right">
  <% if @db_call.errors.any? %>
    <%= @db_call.errors.full_messages %>  
  <% end %> 
</div>